@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Work+Sans:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.shadow{
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.max-width {
  @apply max-w-[1920px] mx-auto;
}

.container{
  padding: 0 60px;
}

.text-sans{
  font-family: 'Work Sans', sans-serif;
}

.text-mulish{
  font-family: 'Mulish', sans-serif;
}

.logo-line {
  stroke: #C47F3F;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: stroke-dashoffset 0.4s linear;
}

.logo:hover .logo-line {
  stroke-dashoffset: 0;
}

.line-main{
  position: absolute;
}

.main-link:hover p{
  color: #8F7464;
}

.main-link:hover path{
  stroke: #8F7464;
}
/* 
.hover-project-block {
  transform: translateX(-100%); 
  transition: transform 2s ease-out;
}

.hover-project-block  {
  transform: translateX(0); 
} */

.hover-project-img{
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-out;
}

.hover-project-text {
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-out;
}

.hover-project-block:hover .hover-project-img {
  opacity: 0;
  visibility: hidden;
}

.hover-project-block:hover .hover-project-text {
  opacity: 1;
  visibility: visible;
}


.grid-container  {
  display: grid; 
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  height: 100%;
}
  
.item-1 {

   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
   
}
.item-4 {

   grid-row-start: 2;
   grid-column-start: 2;

   grid-row-end: 3;
   grid-column-end: 4;
   
}
.item-2{

   grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 2;
   grid-column-end: 4;
   
}

.item-3{

   grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 2;
   grid-column-end: 3;
   
}